#heading {
    color: red;   
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    align-items: center;
}

.header-logo img {
    width: 150px;
}

.navItems > ul {
    display: flex;
    padding: 0 50px;
}

.navItems > ul > li {
    padding: 10px;
    list-style-type: none;
    font-size: 24px;
}

.restraurantContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.res-card {
    margin: 5px;
    padding: 10px;
    width: 236px;
    background-color: #f0f0f0;
}

.res-card:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.res-logo img {
    width: 100%;
}

